body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    max-height: 9999px;
}

body {
    background-color: #f5f5f5;
}


/**
loading
 */

.ia-loading-box {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.ia-loading-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.7);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    border-radius: 6px;
    padding: 0.3rem 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
}

.ia-loading-content {
    font-size: 32px;
    margin-top: .1rem;
}

[data-dpr="1"] .ia-loading-content {
    font-size: 14px;
}

[data-dpr="2"] .ia-loading-content {
    font-size: 28px;
}

[data-dpr="3"] .ia-loading-content {
    font-size: 42px;
}

.ia-loading-large {
    width: .56rem !important;
    height: .56rem !important;
}

.ia-loading {
    width: .4rem;
    height: .4rem;
    display: inline-block;
    vertical-align: middle;
    animation: iaLoading 1s steps(12, end) infinite;
    background: transparent url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E") no-repeat;
    background-size: 100%;
}

@-webkit-keyframes iaLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes iaLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.ia-loading-img {
    background: url(/info/version3/wap/client/invoiceAssistant/images/icon/loading.png) no-repeat;
    background-size: cover;
    width: .56rem;
    height: .56rem;
    margin-bottom: .1rem;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation: loading 1s linear 0s infinite normal;
    animation: loading 1s linear 0s infinite normal;
}

[data-dpr = "1"] .ia-loading {
    font-size: 16px;
}

[data-dpr = "2"] .ia-loading {
    font-size: 32px;
}

[data-dpr = "3"] .ia-loading {
    font-size: 48px;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.music-play-btn {
    position: absolute;
    z-index: 1000;
    top: 3%;
    right: .1rem;
    width: .64rem;
    height: .64rem;
    opacity: .8;
    background: url(../../img/gp.png) no-repeat center;
}

.playing {
    animation: gp 2s linear 0s infinite normal;
}

@keyframes gp {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bridge {
    display: inline-block;
    position: absolute;
    z-index: 2000;
    right: .1rem;
    bottom: 3rem;
    font-size: 24px;
    background-color: #FF5722;
    color: #fff;
    border-radius: 50%;
    padding: .2rem;
    opacity: .6;
    text-decoration: none;
}

.bridge:active {
    opacity: 1;
    text-decoration: none;
}

.bridge:hover {
    opacity: 1;
    text-decoration: none;
}

.avatar {
    position: relative;
    background-color: #fff;
    width: 1.5rem;
    height: 1.5rem;
}
.avatar-ra-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.avatar-ra {
    border-radius: 50%;
}
